
fieldset {
    border: none;
    margin-top: 20px;
}

.form {
    
    padding: 30px;
    border: none;
}

.container__tittleArrow {
    display: flex;
    justify-content: space-between;
}

.tittle__colors {
    padding: 15px;
    font-size: medium;
    font-weight: normal;

}
.container-itemcolors {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    margin-top: 10px;
}

.colors__1 {
    display: flex;
    flex-direction: row;
    
    &-1 {
        width: 30px;
        height: 25px;
        background-color: #114e4e;
    }

    &-2 {
        width: 30px;
        height: 25px;
        background-color: #438792;
    }

    &-3 {
        width: 30px;
        height: 25px;
        background-color: #a2deaf;
    }
}

.colors__2 {
    display: flex;
    flex-direction: row;

    &-1 {
        width: 30px;
        height: 25px;
        background-color: #420101;
    }

    &-2 {
        width: 30px;
        height: 25px;
        background-color: #bd1010;
    }

    &-3 {
        width: 30px;
        height: 25px;
        background-color: #e95626;
    }
}

.colors__3 {
    display: flex;
    flex-direction: row;


    &-1 {
        width: 30px;
        height: 25px;
        background-color: #3e5b65;
    }

    &-2 {
        width: 30px;
        height: 25px;
        background-color: #eab052 ;
    }

    &-3 {
        width: 30px;
        height: 25px;
        background-color: #a0c0cf;
    }
}

.container__form {
    display: flex;
    flex-direction: column;
    margin-top: 25px; 
    gap: 10px;  

    &-addImage {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px

    }

}

.form__input{
    padding: 10px;
}

.link__addImage {
    background-color: #e17334;
    width: 200px;
    padding: 10px;

    text-align: center;

}

.empty__div {
    width: 35px;
    height: 35px;
    border: solid 1px gray;
}

.container__button {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-submit {
        all: unset; //resetea los estilos de botón
        display: inline-block;
        background-color: #e17334;
        width: 200px;
        text-align: center;
        padding: 25px 20px;
        border-radius: 20px;
}
}


   
