<form action="https://dev.adalab.es/api/form " method="get">
  

    <fieldset>
        <legend>DISEÑA</legend>

        <h1>COLORES</h1> 
        <!-- no se si va con h1 o con otro campo de formulario que no recuerdo/sé -->

        <div class="container-itemcolors">
            <label for="colors1">
                <span class="colors__1">
                    <div class="colors__1-1"> </div>
                    <div class="colors__1-2"> </div>
                    <div class="colors__1-3"> </div>
                </span>
            </label>
            <input type="radio" name="colors1" id="colors1" value="colors1" />
        </div>

        
    <div class="container-itemcolors">
        <label for="colors2">
            <span class="colors__2">
                <div class="colors__2-1"></div>
                <div class="colors__2-2"></div>
                <div class="colors__2-3"></div>
            </span>
        </label>
        <input type="radio" name="colors2" id="colors2" value="colors2" />
    </div>


    <div class="container-itemcolors">
        <label for="colors3">
            <span class="colors__3">
                <div class="colors__3-1" ></div>
                <div class="colors__3-2"></div>
                <div class="colors__3-3"></div>
            </span>
        </label>
        <input type="radio" name="colors3" id="colors3" value="colors3" />
    </div>
    </fieldset>

    <!-- <fieldset>
        <legend>Regístrate con tu correo electronico</legend>
        <label for="email">¿Cuál es tu correo electrónico?</label>
        <input type="email" name="email" id="email" placeholder="Pon tu correo electrónico." />
        <label for="confirmacion-email">Confirma el correo electrónico</label>
        <input type="email" name="email" id="confirmacion-email" placeholder="Vuelve a poner tu correo electrónico." />
        <label for="password">Crea una contraseña</label>
        <input type="password" name="password" id="password" placeholder="Crea una contraseña." />
        <label for="nickname">¿Cómo quieres que te llamemos?</label>
        <input type="text" name="nickname" id="nickname" placeholder="Nombre de perfil." />
        <p>Esto aparece en tu perfil</p>
    </fieldset>  -->

    </form>