<form class="form js-form" action="" method="post">
  <!-- DISEÑA -->

  <fieldset class="fieldset">
    <!-- pongo este div para hacer un display flex y meter un space between entre el titulo y el icono  -->
    <div class="container__tittleArrow js-tittleArrowD">
      <legend class="legendTittle">
        <i class="desing fa-regular fa-object-ungroup"></i> DISEÑA
      </legend>
      <i class="fa-solid fa-angle-down js-arrowD"></i>
    </div>

    <section class="container__form-section js-form-fillD">
      <h1 class="tittle__colors">COLORES</h1>
      <!-- no se si va con h1 o con otro campo de formulario que no recuerdo/sé -->

      <div class="container-itemcolors">
        <label for="colors1">
          <span class="colors__1">
            <div class="colors__1-1"></div>
            <div class="colors__1-2"></div>
            <div class="colors__1-3"></div>
          </span>
        </label>
        <input
          class="js-color-marge"
          type="radio"
          name="colors"
          id="colors1"
          value="1"
          checked
        />
      </div>

      <div class="container-itemcolors">
        <label for="colors2">
          <span class="colors__2">
            <div class="colors__2-1 boxColors"></div>
            <div class="colors__2-2 boxColors"></div>
            <div class="colors__2-3 boxColors"></div>
          </span>
        </label>
        <input
          class="js-color-krusty"
          type="radio"
          name="colors"
          id="colors2"
          value="2"
        />
      </div>

      <div class="container-itemcolors">
        <label for="colors3">
          <span class="colors__3">
            <div class="colors__3-1 boxColors"></div>
            <div class="colors__3-2 boxColors"></div>
            <div class="colors__3-3 boxColors"></div>
          </span>
        </label>
        <input
          class="js-color-apu"
          type="radio"
          name="colors"
          id="colors3"
          value="3"
        />
      </div>
    </section>
  </fieldset>

  <!-- RELLENA -->

  <fieldset class="fieldset">
    <div class="container__tittleArrow js-tittleArrowR">
      <legend class="legendTittle">
        <i class="desing fa-regular fa-keyboard"></i> RELLENA
      </legend>
      <i class="fa-solid fa-angle-down js-arrowR"></i>
    </div>

    <section class="container__form-section js-form-fillR">
      <div class="container__form">
        <label class="tittleInput" for="name">
          Nombre completo <span class="required">*</span></label
        >
        <input
          class="form__input js-name"
          type="text"
          name="name"
          id="name"
          placeholder="Ej: Ralph Wiggum"
          required
        />
      </div>

      <div class="container__form">
        <label class="tittleInput" for="work"
          >Puesto<span class="required">*</span></label
        >
        <input
          class="form__input js-job"
          type="text"
          name="work"
          id="work"
          placeholder="Ej: Estudiante de mi cole"
          required
        />
      </div>

      <!-- añadir imagen -->

      <div class="container__form image-section">
        <div class="container__form-addImage">
          <h1 class="tittleInput">
            Imagen de perfil<span class="required">*</span>
          </h1>
          <label class="button-addImage" for="img-selector"
            >Añadir imagen</label
          >
          <input
            type="file"
            name=""
            id="img-selector"
            class="action__hiddenField js__profile-upload-btn"
            required
          />
        </div>

        <div class="profile__preview js__profile-preview"></div>
      </div>

      <div class="container__form">
        <label class="tittleInput" for="email"
          >Email<span class="required">*</span></label
        >
        <input
          class="form__input js-input-email"
          type="email"
          id="email"
          name="email"
          placeholder="Ej: yomellamoralph@gmail.com"
          required
        />
      </div>

      <div class="container__form">
        <label class="tittleInput" for="telefono"
          >Teléfono<span class="required">*</span></label
        >
        <input
          class="form__input js-input-number"
          type="number"
          id="telefono"
          name="telefono"
          placeholder="Ej: 666 666 666"
          required
        />
      </div>

      <div class="container__form">
        <label class="tittleInput" for="linkedin"
          >LinkedIn<span class="required">*</span></label
        >
        <input
          class="form__input"
          type="url"
          id="linkedin"
          name="linkedin"
          placeholder=" Ej: https://www.linkedin.com/in/ralph-wiggum/"
          required
        />
      </div>

      <div class="container__form">
        <label class="tittleInput" for="github"
          >Github<span class="required">*</span></label
        >
        <input
          class="form__input"
          type="text"
          id="github"
          name="github"
          placeholder="Ej: chuchu-chuli"
          required
        />
      </div>
    </section>
  </fieldset>

  <!-- COMPARTE -->

  <fieldset class="fieldset">
    <div class="container__form">
      <div class="container__tittleArrow js-tittleArrowC">
        <legend class="legendTittle">
          <i class="desing fa-solid fa-share-nodes"></i>COMPARTE
        </legend>
        <i class="fa-solid fa-angle-down js-arrowC"></i>
      </div>

      <div class="container__button js-buttonComparte">
        <div class="container__button-iconoSubmit">
          <i class="fa-regular fa-address-card"></i>
          <button type="submit" class="container__button-submit js-buttonShare">
            CREAR TARJETA
          </button>
          <!-- <input class="container__button-submit js-buttonShare" type="submit" value="CREAR TARJETA"> -->
        </div>
      </div>
    </div>
  </fieldset>
</form>

<!-- mensaje de cuando se crea la tarjeta, rellenar con js? -->

<section class="js-response response hidden">
  <div class="js-text-response container-share"></div>
  <div class="twitter-icon">
    <i class="fa-brands fa-square-x-twitter"></i>
    <a
      class="twitter-share-button js-twitter"
      href="https://twitter.com/intent/tweet"
      data-size="large"
      data-text="Disfruta de mi nueva tarjeta de visita"
      data-url=""
      data-hashtags="example,demo"
      data-via="twitterdev"
      data-related="twitterapi,twitter"
    >
      Compartir en twitter
    </a>
  </div>
</section>
