<form class="form" action="https://dev.adalab.es/api/form " method="get">

    <!-- DISEÑA -->

    <fieldset class="fieldset">
        <!-- pongo este div para hacer un display flex y meter un space between entre el titulo y el icono  -->
        <div class="container__tittleArrow"> 
            <legend class="legendTittle"> <i class="desing fa-regular fa-object-ungroup"></i> DISEÑA</legend> 
            <i class="fa-solid fa-angle-down"></i>
        </div>

        <h1 class="tittle__colors">COLORES</h1> 
        <!-- no se si va con h1 o con otro campo de formulario que no recuerdo/sé -->

        <div class="container-itemcolors">
            <label for="colors1">
                <span class="colors__1">
                    <div class="colors__1-1"> </div>
                    <div class="colors__1-2"> </div>
                    <div class="colors__1-3"> </div>
                </span>
            </label>
            <input type="radio" name="colors1" id="colors1" value="colors1" />
        </div>

        
    <div class="container-itemcolors">
        <label for="colors2">
            <span class="colors__2">
                <div class="colors__2-1"></div>
                <div class="colors__2-2"></div>
                <div class="colors__2-3"></div>
            </span>
        </label>
        <input type="radio" name="colors2" id="colors2" value="colors2" />
    </div>


    <div class="container-itemcolors">
        <label for="colors3">
            <span class="colors__3">
                <div class="colors__3-1" ></div>
                <div class="colors__3-2"></div>
                <div class="colors__3-3"></div>
            </span>
        </label>
        <input type="radio" name="colors3" id="colors3" value="colors3" />
    </div>
    </fieldset>

    <!-- RELLENA -->

    <fieldset class="fieldset">
        
        <div class="container__tittleArrow">
            <legend  class="legendTittle"> <i class="desing fa-regular fa-keyboard"></i> RELLENA</legend> 
            <i class="fa-solid fa-angle-down"></i>
        </div>

        <div class="container__form">
            <label class="tittleInput" for="name"> Nombre completo </label>
            <input class= "form__input" type="text" name="name" id="name" placeholder="Ej: Ralph Wiggum" />
        </div>

        <div class="container__form">
            <label class="tittleInput" for="work">Puesto</label>
            <input class= "form__input" type="text" name="work" id="work" placeholder="Ej: Estudiante de mi cole" />
        </div>
      
        <div class="container__form">
            <label class="tittleInput" for="image">Imagen de perfil</label>
            <div class="container__form-addImage">
                <a class= "link__addImage" href="">Añadir imagen</a> <div class="empty__div"> </div> </div>
            </div>
        </div>

        <div class="container__form">
            <label class="tittleInput" for="email">Email</label>
            <input class= "form__input" type="email" id="email" name="email" placeholder="Ej: yomellamoralph@gmail.com"/>
        </div>

        <div class="container__form">
            <label class="tittleInput" for="telefono">Teléfono</label>
            <input class= "form__input" type="number" id="telefono" name="telefono" placeholder="Ej: 666 666 666"/>
        </div>

        <div class="container__form">
            <label class="tittleInput" for="linkedin">LinkedIn</label>
            <input class= "form__input" type="url" id="linkedin" name="linkedin" placeholder=" Ej: https://www.linkedin.com/in/ralph-wiggum/"/>
        </div>

        <div class="container__form">
            <label class="tittleInput" for="github">Github</label>
            <input class= "form__input" type="text" id="github" name="github" placeholder="Ej: @chuchu-chuli" />
        </div>
    </fieldset>  

    <!-- COMPARTE -->

    <fieldset class="fieldset">
        <div class="container__form">
            <div class="container__tittleArrow">
                <legend  class="legendTittle"><i class="desing fa-solid fa-share-nodes"></i>COMPARTE</legend> <i class="fa-solid fa-angle-down"></i>
            </div>
            <div class="container__button">
                <div class="container__button-iconoSubmit">
                    <i class="fa-regular fa-address-card"></i>
                    <input class="container__button-submit" type="submit" value="CREAR TARJETA">
                </div>
            </div>
        </div>
    </fieldset>

    </form>

    <!-- mensaje de cuando se crea la tarjeta, rellenar con js? -->

    <section>
        <h1></h1>
        <p></p>
        <a href=""></a>
    </section>