<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/94e91f4c1c.js" crossorigin="anonymous"></script>
    <title>Awesome profile-cards</title>
</head>
<body>
    <main>
        <div class="fons">
            <img class="tarjet" src="/images/logo-awesome-profile-cards.svg" alt="logo profile-cards">
            <div><span class="visit-tarjet">Crea tu tarjeta de visita</span>
            <div><span class="best-contact">Crea mejores contactos profesionales de forma fácil y cómoda</span></div>
            <div class="options">
                <div class="icon" ><i class="desing fa-regular fa-object-ungroup"></i>
                <span class="text">Diseña</span></div>
                <div class="icon" ><i class="desing fa-regular fa-keyboard"></i>
                <span class="text">Rellena</span></div>
                <div class="icon" ><i class="desing fa-solid fa-share-nodes"></i>
                <span class="text">Comparte</span></div>
            </div>
            <div class="buttom">
            <a href="./design.html"><span class="start">COMENZAR</span></a></div>
        </div>
    </main>
</body>
</html>