<section class="card">
  <button class="card__button">
    <i class="fa-solid fa-trash-can"></i>
    RESET
  </button>
  <div class="card__profile">
    <div class="card__profile-title">
    <h2 class="card__profile-name" id="profile-name">Nombre Apellido</h2>
    <h3 class="card__profile-occupation" id="profile-occupation" >Front-end developer</h3>
  </div>
    <img
      class="card__profile-photo"
      src="/images/foto-mujer.jpg"
      alt="foto de mujer"
    />
    <div class="card__icons">
      <div class="card__icon">
        <i class="fa-solid fa-mobile-screen-button"></i>
      </div>
      <div class="card__icon">
        <i class="fa-regular fa-envelope"></i>
      </div>
      <div class="card__icon">
        <i class="fa-brands fa-linkedin-in"></i>
      </div>
      <div class="card__icon">
        <i class="fa-brands fa-github-alt"></i>
      </div>
    </div>
  </div>
</section>
