<section class="card">
  <div class="card__container">
    <button class="card__button">
      <i class="fa-solid fa-trash-can"></i>
      RESET
    </button>

    <div class="card__profile">
      <div class="card__profile-title">
        <h2 class="card__profile-name js-profile-name" id="profile-name">
          Ralph Wiggum
        </h2>
        <h3
          class="card__profile-occupation js-profile-job"
          id="profile-occupation"
        >
          Estudiante de mi cole
        </h3>
      </div>

      <img
        class="card__profile-photo"
        src="/images/ralph.jpg"
        alt="Caricatura de un niño sujetando un plátano como si fuera un móvil"
      />

      <div class="card__icons">
        <a href="tel:" class="js-link-phone">
          <div class="card__icon">
            <i class="fa-solid fa-mobile-screen-button"></i>
          </div>
        </a>

        <a href="email:" class="js-link-email">
          <div class="card__icon">
            <i class="fa-regular fa-envelope"></i>
          </div>
        </a>

        <a href="" class="js-link-linkedin">
          <div class="card__icon">
            <i class="fa-brands fa-linkedin-in js-icon-linkedin"></i>
          </div>
        </a>

        <a href="" class="js-link-github">
          <div class="card__icon">
            <i class="fa-brands fa-github-alt"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
