<section class="card">
  <div class="card__container">
    <button class="card__button js-buttonReset">
      <i class="fa-solid fa-trash-can"></i>
      RESET
    </button>

    <div class="card__profile js-card">
      <div class="card__profile-title js-borderCard">
        <h2 class="card__profile-name js-profile-name" id="profile-name">
          Ralph Wiggum
        </h2>
        <h3
          class="card__profile-occupation js-profile-job"
          id="profile-occupation"
        >
          Estudiante de mi cole
        </h3>
      </div>

     
        <img 
          class="card__profile-photo js__profile-image"
          src="./images/ralph.jpg"
          alt="Caricatura de un niño sujetando un plátano como si fuera un móvil"
        />
    

      <div class="card__icons">
        <a href="tel:" class="js-link-phone">
          <div class="card__icon js-containerIcon">
            <i class="fa-solid fa-mobile-screen-button js-iconCard"></i>
          </div>
        </a>

        <a href="mailto:" class="js-link-email">
          <div class="card__icon js-containerIcon">
            <i class="fa-regular fa-envelope js-iconCard"></i>
          </div>
        </a>

        <a href="" target="_blank" class="js-link-linkedin">
          <div class="card__icon js-containerIcon">
            <i class="fa-brands fa-linkedin-in js-iconCard"></i>
          </div>
        </a>

        <a href="" target="_blank" class="js-link-github">
          <div class="card__icon js-containerIcon">
            <i class="fa-brands fa-github-alt js-iconCard"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
